* {
    margin: 0;
    padding: 10;
  }

    body {
        font-family: Monserrat, sans-serif
    }
    p{
        color: #475550;
        font-size: 12;
        
    }

    /* <img class="bkgimg" src="https://image.freepik.com/fotos-gratis/codigo-fonte-da-area-de-trabalho-e-papel-de-parede-por-linguagem-de-computador-com-codificacao-e-programacao_33771-595.jpg" alt="Papel de parede  com um codico de programação aparente utulizado como fundo do site">   */
.header{
    background-image: url(https://image.freepik.com/fotos-gratis/codigo-fonte-da-area-de-trabalho-e-papel-de-parede-por-linguagem-de-computador-com-codificacao-e-programacao_33771-595.jpg);
    background-size: cover;
    float: right;
   
}

.title {
    font-size: 32px;    
    style="font-family: Mulish, serif"
;
    background-image: url(https://c.wallhere.com/photos/2c/31/simple_simple_background_minimalism_black_background_space-1382933.jpg!d);
    background-size: cover;
    padding: 10px;
}

.titlees{
    text-align: center;
    font-size: 32px;
    color: azure;
}

.stitle{
    color: whitesmoke;
    padding: 20px 10px 30px 0px;
    
}

.stitle2{
    color: whitesmoke;
    padding: 20px;
    ;
   
}


.intro
{
    font-size: px;
    float: right;
    margin-top: 20px;
    margin-right: 70px;
    text-align: justify;
    width: 60%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 50px;
}

.profilepic{
     float: left;
     margin: 0px 10px 40px 60px;
     border-radius: 30px;
     width: 30%;
    
}

.infos{
    background-image: url(https://c.wallhere.com/photos/2c/31/simple_simple_background_minimalism_black_background_space-1382933.jpg!d) ;
    color: #475550;
    
}

.list{
    background-color: black;
}

.sm {
    
padding: 20px;

}

.elinks{
    
    color: whitesmoke;
    font-size: 16px;
    text-align: center

}

.sociais{
    width: 10%;
    text-align: center;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
}

.icons{
    border-radius: 50%;
}


.button{
    font-size: 20px;
    background-color: grey;
    border-radius: 5px;
    padding: 10px 15px;
    color: black;
    text-decoration: none;
}